body { background: #deeddc; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 51px; display: flex; }
.block-session-0 { color: #6be90f; font-size: 17px; margin-bottom: 5px; }
.block-uploader-1 { color: #80f173; font-size: 16px; margin-bottom: 5px; }
.block-shipping-2 { color: #9b3dd8; font-size: 16px; margin-bottom: 5px; }
.block-notify-3 { color: #be9af5; font-size: 21px; margin-bottom: 5px; }
.block-shipping-4 { color: #beabd1; font-size: 14px; margin-bottom: 5px; }
.block-uploader-5 { color: #9a7f6e; font-size: 12px; margin-bottom: 5px; }
.block-payment-6 { color: #a17ef0; font-size: 18px; margin-bottom: 5px; }